.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.filterField {
  font-size: 16px;
  font-weight: 700;
}

.filterInput {
  height: 25px;
  width: 300px;
  border: 1px solid black;
  border-radius: 6px;
  background: transparent;

  font-size: 18px;
}

.filterInput:hover,
.filterInput:focus {
  border: 2px solid black;
  background: transparent;
}
